<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wongtx.demomybatis.mapper.UserMapper" >

    <!-- 获取记录 -->
    <select id="findAll" resultType="com.wongtx.demomybatis.entity.User">
     SELECT *
     FROM t_user
      where id in (${str})
    </select>



    <update id="updateSecond">
        update t_user set phone = #{user.phone}  where id = #{id}
    </update>

    <!--now() 传入时间-->
    <insert id="saveSecond">
        insert into t_user (phone,password,insertdate) values (#{userPhone,jdbcType=VARCHAR},#{userPassWord,jdbcType=VARCHAR},now() )
    </insert>
<!--tag values便签下的字段与传入头一致-->
    <insert id="saveThree" parameterType="com.wongtx.demomybatis.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userPhone != null">
                phone,
            </if>

            <if test="userPassWord != null">
                password,
            </if>
            <if test="userMsg != null">
                msg,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="createDate != null">
                insertdate,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>

            <if test="userPassWord != null">
                #{userPassWord,jdbcType=VARCHAR},
            </if>
            <if test="userMsg != null">
                #{userMsg,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BIT},
            </if>

            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>

        </trim>
    </insert>

    <select id="findById" resultType="com.wongtx.demomybatis.entity.User">
        select id,phone as userPhone,insertdate as createDate,msg as userMsg,password as userPassWord, sex from t_user where id = #{id}
    </select>


    <select id="findMap" resultType="map">
        select id,phone as userPhone,insertdate as createDate,msg as userMsg,password as userPassWord, sex from t_user

        where  insertdate &lt; #{da}
    </select>
    <select id="findByIdIn" resultType="com.wongtx.demomybatis.entity.User">

        select id,phone as userPhone,insertdate as createDate,msg as userMsg,password as userPassWord, sex from t_user

        where  id IN
        <foreach collection="array" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item}
        </foreach>


    </select>

    <insert id="insertforeach" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        ( phone,password,msg)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userPhone},
            #{item.userPassWord},

            #{item.userMsg}
            )
        </foreach>
    </insert>


    <select id="findByUserId" resultType="com.wongtx.demomybatis.entity.User">
        select id,phone as userPhone,insertdate as createDate,msg as userMsg,password as userPassWord, sex from t_user
        where msg = #{userMsg}
    </select>
</mapper>
